# 17강. 딕셔너리 만들고 값 추출하기

In [22]:
# 리스트 2개로 만드는 방법(dictionary comprehension)
key_lst = ['김밥', '떡볶이']
value_lst = [2000, 3000]
menu_dct = {key_lst[i] : value_lst[i] for i in range(len(key_lst))}

# = 으로 할당
menu_dct2 = dict(김밥 = 2000, 떡볶이 = 3000)

# zip 함수
menu_dct3 = dict(zip(key_lst, value_lst))

print(f'menu_dct : {menu_dct}')
print(f'menu_dct2 : {menu_dct2}')
print(f'menu_dct3 : {menu_dct3}')

menu_dct : {'김밥': 2000, '떡볶이': 3000}
menu_dct2 : {'김밥': 2000, '떡볶이': 3000}
menu_dct3 : {'김밥': 2000, '떡볶이': 3000}

In [23]:
# 딕셔너리에 키 존재 여부 확인하기
if '김밥' in menu_dct : 
    print(menu_dct['김밥'])
else : 
    print('없음')

2000

# 18강. 딕셔너리 변경하기

In [33]:
sub = ['kor', 'eng', 'math']
score = [100, 90, 80]
scores = {sub[i] : score[i] for i in range(len(sub))}

In [34]:
# key만 먼저 넣는 방법 setdefault
scores.setdefault('music')
scores

{'kor': 100, 'eng': 90, 'math': 80, 'music': None}

In [35]:
# 값 바꾸기 update
scores.update(math = 90, music = 90)
scores

{'kor': 100, 'eng': 90, 'math': 90, 'music': 90}

pop, del 같은 리스트에 먹히는 메소드도 먹힘.

# 19강. 딕셔너리의 키, 값 다루기

In [36]:
for i in scores :
    print(i)

# 딕셔너리 명만 쓰면 key들로 인식

kor
eng
math
music

In [37]:
for i in scores.items() :
    print(i)

# item이면 튜플로 출력

('kor', 100)
('eng', 90)
('math', 90)
('music', 90)

In [41]:
# key값 기준 정렬
sorted(scores.items())

[('eng', 90), ('kor', 100), ('math', 90), ('music', 90)]

# 20강. 딕셔너리 연습하기

## 연습문제
* 영어 단어장 만들기  
엔터를 입력할 때까지 뜻을 입력받아 단어장을 만들고 입력이 끝나면 단어 테스트 실시하는 프로그램을 만들어 보자.

In [78]:
word_dict = {}
while True : 
    input_word = input('영어 단어,뜻 형태로 단어를 입력하세요.').split(',')
    if len(input_word) < 2 : 
        break
    else : 
        word_dict.setdefault(input_word[0])
        word_dict[input_word[0]] = input_word[1]

cnt = 0
for key in word_dict : 
    ans = input(f'{key}의 뜻은?')
    if ans == word_dict[key] : 
        cnt += 1    
        
print(f'점수는 {cnt}/{len(word_dict)}입니다.')

점수는 2/2입니다.

# 21강. 함수 만들기

## 연습문제

In [79]:
name = input('이름을 입력하세요. : ')
age = input('나이를 입력하세요. : ')

def hbd(name, age) : 
    print(f'{name}님의 {age}번째 생일을 축하합니다!')

hbd(name = name, age = age)

# 22강. 함수의 결과값 받아서 사용하기

## 연습문제
* 정수를 입력받고 소수 여부 판별하는 함수 작성하고 호출하기

In [99]:
import numpy as np
from math import sqrt
n = int(input())
def is_prime(n) : 
    if n <= 1 :
        print('판단할 수 없습니다.')
    
    for i in range(2, int(sqrt(n)) + 1) : 
        if n % i == 0 : 
            print('합성수입니다.')
            break
    
    if i != int(sqrt(n)) : 
        pass
    else : 
        print('소수입니다.') 

is_prime(n = n)

# 23강. 인수 전달 방법

def 함수이름(* **args**) :  
args를 리스트처럼 쓸 수 있음.

## 24강. 함수에서 변수 사용하기

- 전역 변수 vs 지역 변수 : 함수 외부 변수 or 내부 변수

- **_늘 조심하자 지역변수는 함수 밖에서 호출하려고 해도 없다_**

- 전역변수를 함수 내에서 쓰고 싶다면 ```global```을 변수명 앞에 붙인다.

# 25강. 람다 함수와 map 함수

```lambda 리턴값 for 범위 조건 true식 if 조건 else 조건 false식```

map : sequence의 각 원소에 특정함수 적용  
```map(함수, 시퀀스)```

# 26강. 클래스와 객체

속성 : ```클래스명.속성명```  
```__init__``` : 생성자 - 속성 초기화 + 생성되면 실행할 일

In [101]:
class Car:
    def __init__(self, b, m, c) : 
        self.brand, self.model, self.color = b, m, c
        print(f'{self.brand} {self.color} {self.model} 출고')

    def turn_on(self) : 
        print(f'{self.brand} 시동을 켭니다.')    
    def turn_off(self) : 
        print(f'{self.brand} 시동을 끕니다.')    
    def drive(self) : 
        print(f'{self.brand} 주행중입니다.')

In [102]:
car1 = Car('현대자동차', '소나타', '화이트')

현대자동차 화이트 소나타 출고

In [105]:
car1.turn_on()
car1.drive()
car1.turn_off()

현대자동차 시동을 켭니다.
현대자동차 주행중입니다.
현대자동차 시동을 끕니다.

# 27강. 모듈과 패키지

* 모듈 : 프로그램에서 공통적으로 사용되는 변수, 수, 함수, 클래스 등을 파일화한 것.
* 패키지 : 모듈이 모인 것.

# 28강. 모듈 사용하기

# 29강 ~ 32강. 판다스를 이용한 데이터 분석

utf-8 형식으로 만드는 것이 좋다. 웬만한 것들은 깨지지 않고 나옴.

In [2]:
import pandas as pd
df = pd.read_csv('C:/code/data/scores.csv', encoding = 'utf-8')

## 데이터 타입 및 기초 통계량 조회  
* info 함수와 describe 함수의 결과에 따라 kor 컬럼에 3개, eng 컬럼에 2개, math 컬럼에 1개의 결측치가 존재한다.
* describe 함수에 따르면 국어와 수학은 비슷한 분포를 보이지만 영어는 점수의 분산이 두 과목에 비해 크고 평균이 낮음을 알 수 있다.  
* 상관계수도 0.66에 가까우므로 어느 정도 양의 선형관계를 띈다. 따라서 국어와 수학의 결측 데이터는 서로의 분위수로 대체할 수 있을 것 같다.
* 영어와 국어 성적의 상관관계도 0.6에 가까우므로 양의 선형관계를 띈다. 영어의 결측 데이터는 국어의 분위수로 대체 가능할 것 같다.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    30 non-null     object
 1   kor     27 non-null     float64
 2   eng     28 non-null     float64
 3   math    29 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

In [4]:
df.describe()

              kor         eng        math
count   27.000000   28.000000   29.000000
mean    85.740741   80.892857   84.827586
std     15.045042   18.361270   15.950972
min     50.000000   35.000000   50.000000
25%     75.000000   68.750000   70.000000
50%     90.000000   85.000000   90.000000
75%    100.000000  100.000000  100.000000
max    100.000000  100.000000  100.000000

In [5]:
df.corr()

           kor       eng      math
kor   1.000000  0.596878  0.657662
eng   0.596878  1.000000  0.320933
math  0.657662  0.320933  1.000000

In [6]:
df[df.kor.isnull()|df.eng.isnull()|df.math.isnull()]

       name   kor   eng   math
4     Henry   NaN  35.0   60.0
16    Ellen   NaN  60.0    NaN
19     Kate  50.0   NaN   50.0
24  Tiffany  90.0   NaN   90.0
27   Vikkie   NaN  50.0  100.0

In [7]:
df.math.quantile(0.071)

59.94

In [8]:
df.kor.quantile(0.071)

66.92

In [31]:
df.kor.quantile(0.385)

90.0

In [10]:
df.eng.quantile(0.55)

90.0

In [18]:
df.math.quantile(0.72)

100.0

In [19]:
df.kor.quantile(0.72)

98.6